services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: sicherheitsdienst_db
    volumes:
      - db_data:/var/lib/postgresql/data
    # ports:
    #   - '5432:5432'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d sicherheitsdienst_db"]
      interval: 5s
      timeout: 5s
      retries: 20

  api:
    image: node:20
    working_dir: /app
    ports:
      - '3000:3000'
    environment:
      NODE_ENV: development
      PORT: 3000
      JWT_SECRET: dev-secret
      REFRESH_SECRET: dev-refresh
      CORS_ORIGIN: http://${PUBLIC_HOST:-localhost}:5173
      CORS_ORIGINS: http://localhost:5173,http://127.0.0.1:5173,http://37.114.53.56:5173
      RATE_LIMIT_MAX: 100
      RATE_LIMIT_WINDOW_MS: 60000
      DATABASE_URL: postgresql://admin:admin123@db:5432/sicherheitsdienst_db?schema=public
      SEED_ON_START: "false"
      LOGIN_RATE_LIMIT_MAX: 100
      LOGIN_RATE_LIMIT_WINDOW_MS: 60000
    volumes:
      - ./backend:/app
    command: >-
      sh -lc "set -e; \
      npm install && \
      npx prisma generate && \
      npx prisma migrate deploy && \
      npm run dev"
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ['CMD-SHELL', 'wget -qO- http://localhost:3000/readyz || exit 1']
      interval: 10s
      timeout: 5s
      retries: 12

  web:
    image: node:20
    working_dir: /web
    ports:
      - '5173:5173'
    environment:
      NODE_ENV: development
      VITE_API_BASE_URL: http://${PUBLIC_HOST:-localhost}:3000
      VITE_HMR_HOST_SERVER_IP: ${PUBLIC_HOST:-localhost}
      VITE_HMR_CLIENT_PORT: 5173
    volumes:
      - ./frontend:/web
    command: sh -lc "npm install && npm run dev -- --host 0.0.0.0 --port 5173"
    depends_on:
      api:
        condition: service_healthy

  prometheus:
    image: prom/prometheus:latest
    profiles: [ 'monitoring' ]
    ports:
      - '9090:9090'
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./monitoring/alerts/alerts.yml:/etc/prometheus/alerts.yml:ro
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    depends_on:
      api:
        condition: service_healthy

  grafana:
    image: grafana/grafana:latest
    profiles: [ 'monitoring' ]
    ports:
      - '3002:3000'
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - ./monitoring/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./monitoring/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./monitoring/grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      prometheus:
        condition: service_started

volumes:
  db_data:
